<a href="https://colab.research.google.com/github/hbisgin/datamining/blob/main/PythonCrashinClass_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#A crash course on Python.

Scripts and notes are derived from:

An Introduction To Scripting in Python 3
By __[Hans van der Kwast](http://www.linkedin.com/in/jvdkwast)__<br>
__[IHE Delft Institute for Water Education](http://www.un-ihe.org)__<br>

This Jupyter Notebook has been developed based on "A Beginner's Python Tutorial" by Steven Thurlow. The original material has been ported to Python 3.

# Very simple 'programs'
## Running Python from the command line
In order to test pieces of code we can run Python from the command line. In this Jupyter Notebook we are going to simulate this. You can type the commands in the fields and execute them.<br>
In the field type:<br>
```python
print('Hello, World')
```
Then press `<shift> + <return>` to execute the command.

What happened?

You just created a program, that prints the words 'Hello, World'. The Python environment that you are in immediately compiles whatever you have typed in. This is useful for testing things, e.g. define a few variables, and then test to see if a certain line will work. That will come in a later lesson, though.

## Math in Python
Type<br>
```python
1 + 1
```
and execute the code.

10

Type<br>
```python
print('1 + 2 is an addition')
```

In [ ]:
print("5")

5

You see that the `print` statement writes something on the screen.

Try this:
```python
print('one kilobyte is 2^10 bytes, or', 2 ** 10, 'bytes')
```

In [ ]:
print("Halil", 302)
print("Halil" + str(302) )

Halil 302
Halil302

## Comments, Please
The final thing you'll need to know to move on to multi-line programs is the comment. Type the following (and yes, the output is shown):
```python
# I am a comment. Fear my wrath!
```

## Variables
Now let's start introducing variables. Variables store a value, that can be looked at or changed at a later time. Let's make a program that uses variables:

In [ ]:
#variables demonstrated
print("This program is a demo of variables")
v = 1
print("The value of v is now", v)
v = v + 1
print("v now equals itself plus one, making it worth", v)
v = 51
print("v can store any numerical value, to be used elsewhere.")
print("for example, in a sentence. v is now worth", v)
print("v times 5 equals", v * 5)
print("but v still only remains", v)
print("to make v five times bigger, you would have to type v = v * 5")
v = v * 5
print("there you go, now v equals", v, "and not", v / 5)

Run the script and try to understand the results.

Note that we can also write `v = v + 1` as `v += 1`. This can be used for all operators (e.g. `-=`, `*=`,`/=`). Try it in the code above.

It is good practice to use lowercase or camelCase for variables. Don't use special characters and don't start with a number!

In [ ]:
count = 1
count+=1 #dount use this: count++
print(count)

2

## Strings
As you can see, variables store values, for use at a later time. You can change them at any time. You can put in more than numbers, though. Variables can hold things like text. A variable that holds text is called a string. Try this program:

In [ ]:
#giving variables text, and adding text.
word1 = "Good"
word2 = "morning"
word3 = "to you too!"
print(word1, word2)
sentence = word1 + " " + word2 + " " + word3
print(sentence)

Good morning
Good morning to you too!

As you see, the variables above were holding text. Variable names can also be longer than one letter - here, we had `word1`, `word2`, and `word3`. As you can also see, strings can be added together to make longer words or sentences. However, it doesn't add spaces in between the words - hence me putting in the `" "` things (there is one space between those).

Often we need to manipulate strings. For example if we want to edit file names or make selections from text. Strings are similar to `lists` that you will learn later. So similar operations (called *list slicing*) apply to strings.

Try the following code and explain what it does:

In [ ]:
text = "abcdefghij"
len(text)

10

Yes, it shows us the amount of characters in a string.

Now try this:

In [ ]:
print(text[4])

e

Here we want to print the character at position 4. Note that the first character "a" is at position 0! So position 4 gives us back "e".

Now try:

In [ ]:
print(text[:4]) #range(4)

abcd

In [ ]:
print(text[4:])

efghij

Here you see that `[:4]` selects characters 0,1,2,3, which is "abcd". With `[4:]` we start with position 4 (counting from 0!) until the end of the string, which results in "efghij".

We can also specify a range. Try this:

In [ ]:
print(text[4:8])

efgh

Was it what you expected?
With ranges, the maximum value is not included in the selection.

We still have the variable `sentence` available. Write code below to select the second word of the sentence using the correct range.

Now try this:

In [ ]:
print(text[-2])

What did it do?

Right, you have selected the second character from the right! Note that here we start counting with -1 for the first character on the right.

Try this:

In [ ]:
print(text[-4:])

ghij

In human language: start with the 4th character from the right and give me all characters from that position to the end of the string.

Now try this and find out what it does:

In [ ]:
print(text[::2])

acegi

We can also add the results of the *list slicing* to variables and insert this into strings using the format operation:

In [ ]:
nrOfCharacters = len(sentence)
lastWord = sentence[-4:-1]
print("The sentence has {} characters and the last word is: {}".format(nrOfCharacters,lastWord))

The sentence has 24 characters and the last word is: too


So you can easily insert variables at the places of the accolades (`{}`). They will be substituted in the same order of the variables in `.format()`

This can also be written as:

In [ ]:
print(f"The sentence has {nrOfCharacters} characters and the last word is: {lastWord}")

Besides list slicing there are also other operations that we can apply to strings. We can count the number of occurences of a specific character in a string:

In [ ]:
print(sentence.count('o'))

7

We can also find the position of character:

In [ ]:
print(text.find('e'))
sometext = "Hey you, how are you doing?"
print(sometext.rfind("you"))

4
17

`rfind` returns the lasts occurance of a string. So in `sometext` we have the word "you" twice. `rfind` returns `17` meaning that the last time that it found "you" is starting at position 17 (counting from 0).

There are a few other useful string operations. Run the code below and will be obvious what it does:

In [ ]:
# Changes the string to upper case
sometext="UM, Flint!, Go Blue?"
print(sometext.upper())

# Splits the string on a character and returns it as list items. You'll learn about lists later
print(sometext.split(","))

# Replaces strings
print(sometext.replace("?","!"))

UM, FLINT!, GO BLUE?
['UM', ' Flint!', ' Go Blue?']
UM, Flint!, Go Blue!

There are also some special characters:

`\n` jumps to a new line

`\` is an escape character. You can put it before another character that has a meaning in the code and is not considered a string. This is often used to have strings with backslashes for file names on Windows (e.g. `"C:\\folder\\filename.txt"`). Because `\` is already an escape character we need to use it twice to escape the escape character!

Examples:

In [ ]:
print("This is a very long sentence and I want to split it into two lines.")
print("This is a very long sentence\nand I want to split it into two lines.")

print("This sentence contains a quote and I don't want the string to end (yet)\"")

# Loops, Loops, Loops, Loops...
##  Introduction
(Our final lesson before we get into interacting with human input. Can't wait, can you?)

Just imagine you needed a program to do something 20 times. What would you do? You could copy and paste the code 20 times, and have a virtually unreadable program, not to mention slow and pointless. Or, you could tell the computer to repeat a bit of code between point A and point B, until the time comes that you need it to stop. Such a thing is called a loop.

## The 'While' loop
The following are examples of a type of loop, called the 'while' loop:

In [ ]:
a = 0
while a < 10:
    a = a + 1
    print(a)

1
2
3
4
5
6
7
8
9
10

How does this program work? Lets go through it in English:
```
'a' now equals 0
As long as 'a' is less than 10, do the following:
   Make 'a' one larger than what it already is.
   Print on-screen what 'a' is now worth.
```

What does this do? Let's go through what the computer would be 'thinking' when it is in the 'while' loop:

```
#JUST GLANCE OVER THIS QUICKLY
#(It looks fancy, but is really simple)
Is 'a' less than 10? YES (its 0)
Make 'a' one larger (now 1)
print on-screen what 'a' is (1)

Is 'a' less than 10? YES (its 1)
Make 'a' one larger (now 2)
print on-screen what 'a' is (2)

Is 'a' less than 10? YES (its 2)
Make 'a' one larger (now 3)
print on-screen what 'a' is (3)

Is 'a' less than 10? YES (its 3)
Make 'a' one larger (now 4)
print on-screen what 'a' is (4)

Is 'a' less than 10? YES (its 4)
Make 'a' one larger (now 5)
print on-screen what 'a' is (5)

Is 'a' less than 10? YES (its 5)
Make 'a' one larger (now 6)
print on-screen what 'a' is (6)

Is 'a' less than 10? YES (its 6)
Make 'a' one larger (now 7)
print on-screen what 'a' is (7)

Is 'a' less than 10? YES (are you still here?)
Make 'a' one larger (now 8)
print on-screen what 'a' is (8)

Is 'a' less than 10? YES (its 8)
Make 'a' one larger (now 9)
print on-screen what 'a' is (9)

Is 'a' less than 10? YES (its 9)
Make 'a' one larger (now 10)
print on-screen what 'a' is (10)

Is 'a' less than 10? NO (its 10, therefore isn't less than 10)
Don't do the loop
There's no code left to do, so the program ends
```

So in short, try to think of it that way when you write 'while' loops. This is how you write them, by the way (syntax):
```
while {condition that the loop continues}:
    {what to do in the loop}
    {have it indented, usually four spaces}
the code here is not looped
because it isn't indented
```

Now try to understand this example and run to see if it is what you expected.

In [ ]:
x = 10
while x != 0:
    print(x)
    x = x - 1
    print("wow, we've counted x down, and now it equals", x) #1

print("And now the loop has ended.") #2

10
wow, we've counted x down, and now it equals 9
9
wow, we've counted x down, and now it equals 8
8
wow, we've counted x down, and now it equals 7
7
wow, we've counted x down, and now it equals 6
6
wow, we've counted x down, and now it equals 5
5
wow, we've counted x down, and now it equals 4
4
wow, we've counted x down, and now it equals 3
3
wow, we've counted x down, and now it equals 2
2
wow, we've counted x down, and now it equals 1
1
wow, we've counted x down, and now it equals 0
And now the loop has ended.

## Boolean Expressions (Boolen... what?!?)
What do you type in the area marked `{conditions that the loop continues}`? The answer is a boolean expression.<br>
What? A forgotten concept for the non-math people here. Never mind, boolean expression just means a question that can be answered with a TRUE or FALSE response. For example, if you wanted to say your age is the same as the person next to you, you would type:

`My age == the age of the person next to me`

And the statement would be TRUE. If you were younger than the person opposite, you'd say:
`My age < the age of the person opposite me`

And the statement would be TRUE. If, however, you were to say the following, and the person opposite of you was younger than you:

`My age < the age of the person opposite me`

The statement would be FALSE - the truth is that it is the other way around. This is how a loop thinks - if the expression is true, keep looping. If it is false, don't loop. With this in mind, let's have a look at the operators (symbols that represent an action) that are involved in boolean expressions:<br>

| Expression | Function  |
|   :---:    |   :---:   |
|    `<`     | Less than |
| `<=` | Less than or equal to |
| `>` | Greater than |
| `>=` | Greater than or equal to |
| `!=` | Not equal to |
| `<>` | Not equal to (alternate) |
| `==` | Equal to |

Don't get `=` and `==` mixed up - the `=` operator makes what is on the left equal to what is on the right. the `==` operator says whether the thing on the left is the same as what is on the right, and returns True or False.

## Conditional Statements
OK! We've (hopefully) covered 'while' loops. Now let's look at something a little different - conditionals.<br>
Conditionals are where a section of code is only run if certain conditions are met. This is similar to the 'while' loop you just wrote, which only runs when x doesn't equal 0. However, Conditionals are only run once. The most common conditional in any program language, is the 'if' statement. Here is how it works:<br>
```
if {conditions to be met}:
    {do this}
    {and this}
    {and this}
{but this happens regardless}
{because it isn't indented}
```
<br>
Now some examples in Python:

In [ ]:
#EXAMPLE 1
y = 1
if y == 1:
    print("y still equals 1, I was just checking")

y still equals 1, I was just checking

In [ ]:
#EXAMPLE 2
print("We will show the even numbers up to 20")
n = 1
while n <= 20: #col
    if n % 2 == 0:
        print(n)
    n = n + 1 #1
print("there, done.")

We will show the even numbers up to 20
2
4
6
8
10
12
14
16
18
20
there, done.

Example 2 there looks tricky. But all we have done is run an `if` statement every time the `while` loop runs. Remember that the `%` just means the remainder from a division - just checking that there is nothing left over if the number is divided by two - showing it is even. If it is even, it prints what `n` is.

## `else` and `elif` - When it Ain't True
There are many ways you can use the `if` statement to deal with situations where your boolean expression ends up FALSE. They are `else` and `elif`.<br>
`else` simply tells the computer what to do if the conditions of `if` aren't met. For example, read the following:

In [ ]:
a = 1
if a > 5:
    print("This shouldn't happen.")
else:
    print("This should happen.")

This should happen.

`a` is not greater than five, therefore what is under `else` is done.

`elif` is just a shortened way of saying `else if`. When the `if` statement fails to be true, `elif` will do what is under it IF the conditions are met. For example:

In [ ]:
z = 4
if z > 70:
    print("Something is very wrong")
elif z < 7:
    print("This is normal")

The `if` statement, along with `else` and `elif` follow this form:
```Python
if {conditions}:
    {run this code}
elif {conditions}:
    {run this code}
elif {conditions}:
    {run this code}
else:
    {run this code}
#You can have as many or as little elif statements as you need
#anywhere from zero to the sky.
#You can have at most one else statement
#and only after all other ifs and elifs.
```

***One of the most important points to remember is that you MUST have a colon `:` at the end of every line with an `if`, `elif`, `else` or `while` in it.***

## Indentation
One other point is that the code to be executed if the conditions are met, MUST BE INDENTED. That means that if you want to loop the next five lines with a `while` loop, you must put a set number of spaces at the beginning of each of the next five lines. This is good programming practice in any language, but Python requires that you do it. Here is an example of both of the above points:

In [ ]:
a = 10
while a > 0:
    print(a)
    if a > 5:
        print("Big number!")
    elif a % 2 != 0:
        print("This is an odd number")
        print("It isn't greater than five, either")
    else:
        print("this number isn't greater than 5")
        print("nor is it odd")
        print("feeling special?")
    a = a - 1
    print("we just made 'a' one less than what it was!")
    print("and unless a is not greater than 0, we'll do the loop again.")
print("well, it seems as if 'a' is now no bigger than 0!")
print("the loop is now over, and without furthur adue, so is this program!")

10
Big number!
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
9
Big number!
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
8
Big number!
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
7
Big number!
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
6
Big number!
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
5
This is an odd number
It isn't greater than five, either
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
4
this number isn't greater than 5
nor is it odd
feeling special?
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
3
This is an odd number
It isn't greater than five, either
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
2
this number isn't greater than 5
nor is it odd
feeling special?
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
1
This is an odd number
It isn't greater than five, either
we just made 'a' one less than what it was!
and unless a is not greater than 0, we'll do the loop again.
well, it seems as if 'a' is now no bigger than 0!
the loop is now over, and without furthur adue, so is this program!

Notice the three levels of indents there:
1.	Each line in the first level starts with no spaces. It is the main program, and will always execute.
2.	Each line in the second level starts with four spaces. When there is an `if` or loop on the first level, everything on the second level after that will be looped/'ifed', until a new line starts back on the first level again.
3.	Each line in the third level starts with eight spaces. When there is an `if` or loop on the second level, everything on the third level after that will be looped/'ifed', until a new line starts back on the second level again.
4.	This goes on infinitely, until the person writing the program has an internal brain explosion, and cannot understand anything he/she has written.

# Functions
## Introduction
Last lesson I said that we would delve into purposeful programming. That involves user input, and user input requires a thing called functions.

What are functions? Well, in effect, functions are little self-contained programs that perform a specific task, which you can incorporate into your own, larger programs. After you have created a function, you can use it at any time, in any place. This saves you the time and effort of having to retell the computer what to do every time it does a common task, for example getting the user to type something in.

## Using a Function
Python has lots of pre-made functions, that you can use right now, simply by 'calling' them. 'Calling' a function involves you giving a function input, and it will return a value (like a variable would) as output. Don't understand? Here is the general form that calling a function takes:<br>
`function_name(parameters)`

See? Easy.

- `Function_name` identifies which function it is you want to use (You'd figure...). For example, the function `raw_input`, which will be the first function that we will use.
- `Parameters` are the values you pass to the function to tell it what is should do, and how to do it... for example, if a function multiplied any given number by five, the stuff in parameters tells the function which number it should multiply by five. Put the number 70 into parameters, and the function will do 70 x 5.

## Parameters and Returned Values - Communicating with Functions
Well, that's all well and good that the program can multiply a number by five, but what does it have to show for it? A warm fuzzy feeling? Your program needs to see the results of what happened, to see what 70 x 5 is, or to see if there is a problem somewhere (like you gave it a letter instead of a number). So how does a function show what is does?

Well, in effect, when a computer runs a function, it doesn't actually see the function name, but the result of what the function did. Variables do the exact same thing - the computer doesn't see the variable name, it sees the value that the variable holds. Let's call this program that multiplied any number by five, `multiply()`. You put the number you want multiplied in the brackets. So if you typed this:

`a = multiply(70)`

The computer would actually see this:

`a = 350`

Note: don't bother typing in this code - `multiply()` isn't a real function, unless you create it.

The function ran itself, then returned a number to the main program, based on what parameters it was given.

Now let's try this with a real function, and see what it does. The function is called `input`, and asks the user to type in something. It then turns it into a string of text. Try the code below:

In [ ]:
# this line makes 'a' equal to whatever you type in
a = input("Type in something, and it will be repeated on screen: ")
# this line prints what 'a' is now worth
print(a)

Type in something, and it will be repeated on screen: Halil
Halil

Say in the above program, you typed in `hello` when it asked you to type something in. To the computer, this program would look like this:

```Python
a = "hello"
print("hello")
```

## Define Your Own Functions
Well, it is all well and good that you can use other people's functions, but what if you want to write your own functions, to save time, and maybe use them in other programs? This is where the `def` operator comes in. (An operator is just something that tells Python what to do, e.g. the `+` operator tells Python to add things, the `if` operator tells Python to do something if conditions are met.)

This is how the `def` operator works:

```
def function_name(parameter_1,parameter_2):
    {this is the code in the function}
    {more code}
    {more code}
    return {value to return to the main program}
{this code isn't in the function}
{because it isn't indented}
#remember to put a colon ":" at the end
#of the line that starts with 'def'
```

`function_name` is the name of the function. You write the code that is in the function below that line, and have it indented. (We will worry about `parameter_1` and `parameter_2` later, for now imagine there is nothing between the parentheses.

Functions run completely independent of the main program. Remember when I said that when the computer comes to a function, it doesn't see the function, but a value, that the function returns? Here's the quote:

To the computer, the variable 'a' doesn't look like 'a' - it looks like the value that is stored inside it. Functions are similar - to the main program (that is, the program that is running the function), they look like the value of what they give in return of running.

A function is like a miniature program that some parameters are given to - it then runs itself, and then returns a value. Your main program sees only the returned value. If that function flew to the moon and back, and then at the end had:

`return "hello"`

then all your program would see is the string `"hello"`, where the name of the function was. It would have no idea what else the program did.

Because it is a separate program, a function doesn't see any of the variables that are in your main program, and your main program doesn't see any of the variables that are in a function. For example, here is a function that prints the words `"hello"` onscreen, and then returns the number `'1234'` to the main program:

In [ ]:
# Below is the function
def hello():
    print("hello")
    return 1234

# And here is the function being used
print(hello())

So what happened?
1.	when `def hello()` was run, a function called `hello` was created
2.	When the line `print(hello())` was run, the function `hello` was executed (The code inside it was run)
3.	The function `hello` printed `"hello"` onscreen, then returned the number `1234` back to the main program
4.	The main program now sees the line as `print("1234")` and as a result, printed `1234`

That accounts for everything that happened. Remember, that the main program had NO IDEA that the words `hello` were printed onscreen. All it saw was `1234`, and printed that onscreen.

## Passing Parameters to functions
There is one more thing we will cover in this (monstrously huge) lesson - passing parameters to a function. Think back to how we defined functions:<br>
```
def function_name(parameter_1,parameter_2):
    {this is the code in the function}
    {more code}
    {more code}
    return {value (e.g. text or number) to return to the main program}
```

Where `parameter_1` and `parameter_2` are (between the parentheses), you put the names of variables that you want to put the parameters into. Put as many as you need, just have them seperated by commas. When you run a function, the first value you put inside the parentheses would go into the variable where `parameter_1` is. The second one (after the first comma) would go to the variable where `parameter_2` is. This goes on for however many parameters there are in the function (from zero, to the sky). For example:

In [ ]:
def funnyfunction(first_word,second_word,third_word):
    print("The word created is: " + first_word + second_word + third_word)
    return first_word + second_word + third_word

When you run the function above, you would type in something like this: `funnyfunction("meat","eater","man")`. The first value (that is, "meat") would be put into the variable called first_word. The second value inside the brackets (that is, "eater") would be put into the variable called second_word, and so on. This is how values are passed from the main program to functions - inside the parentheses, after the function name.

Add a new line to the script above that invokes the function.

Let's write a function which average two numbers. Please use the cell below:

In [ ]:
#please define your function
def average(num1, num2):
    return (num1+num2)/2

print(average(3,5))

4.0

## Tricky Ways You Can Pass Parameters
Finally, as a bit of an interlude, I will explain what the line `add(eval(input("Add this: ")),eval(input("to this: ")))` means.

I wanted to fit everything onto one line, with as few variables as possible. Remember what functions look like to the main program? Whatever value they return. If the numbers you passed to the add() function were 2 and 30, the main program would see this:

`add(2,30)`

The add program would then run, adding 2 and 30, then printing the result. The add program has no `return` operator - it doesn't return anything to the main program. It simply adds two numbers and prints them onscreen, and the main program doesn't see anything of it.

Instead of `(eval(input("Add this: ")),eval(input("to this: ")))` as the parameters for the add program you could have variables. E.g.

```
num1 = 45
num2 = 7
add(num1,num2)
```

For the above, remember that the function you are passing the variables to cannot change the variables themselves - they are simply used as values. You could even put the values straight into the function:

`add(45,7)`

This is because the only thing the function sees are the values that are passed on as parameters. Those values are put into the variables that are mentioned when `add` is defined (the line `def add(a,b)`). The function then uses those parameters to do its job.

In short:
* The only thing functions see of the main program is the parameters that are passed to it
* The only thing the main program sees of functions is the returned value that it passes back

In [ ]:
average(eval(input("Add this: ")),eval(input("to this: ")))

Add this: 4
to this: 8

6.0

# Tuples, Lists, and Dictionaries
## Introduction
Think about it - variables store one bit of information. They may regurgitate (just not on the carpet...) that information at any point, and their bit of information can be changed at any time. Variables are great at what they do - storing a piece of information that may change over time.

But what if you need to store a long list of information, which doesn't change over time? Say, for example, the names of the months of the year. Or maybe a long list of information that does change over time? Say, for example, the names of all your cats. You might get new cats, some may die, some may become your dinner (we should trade recipies!). What about a phone book? For that you need to do a bit of referencing - you would have a list of names, and attached to each of those names, a phone number. How would you do that?

## The Solution - Lists, Tuples, and Dictionaries
For these three problems, Python uses three different solutions - Tuples, Lists, and Dictionaries:
* **Tuples** are just like lists, but you can't change their values. The values that you give it first up, are the values that you are stuck with for the rest of the program. Again, each value is numbered starting from zero, for easy reference. Example: the names of the months of the year.

* **Lists** are what they seem - a list of values. Each one of them is numbered, starting from zero - the first one is numbered zero, the second 1, the third 2, etc. You can remove values from the list, and add new values to the end. Example: Your many cats' names.

* **Dictionaries** are similar to what their name suggests - a dictionary. In a dictionary, you have an 'index' of words, and for each of them a definition. In Python, the word is called a 'key', and the definition a 'value'. The values in a dictionary aren't numbered - they aren't in any specific order, either - the key does the same thing. You can add, remove, and modify the values in dictionaries. Example: telephone book.

### Tuples
Tuples are pretty easy to make. You give your tuple a name, then after that the list of values it will carry. For example, the months of the year:

In [ ]:
months = ('January','February','March','April','May','June',\
'July','August','September','October','November','  December')
months[0]

'January'

* Note that the `\` thingy at the end of the first line carries over that line of code to the next line. It is useful way of making big lines more readable.
* Technically you don't have to put those parentheses there (the `(` and `)` thingies) but it stops Python from getting things confused.
* You may have spaces after the commas if you feel it necessary - it doesn't really matter

Python then organises those values in a handy, numbered index - starting from zero, in the order that you entered them in. It would be organised like this:<br>

| Index | Value |
| :---: | :---: |
| 0 | January |
| 1 | February |
| 2 | March |
| 3 | April |
| 4 | May |
| 5 | June |
| 6 | July |
| 7 | August |
| 8 | September |
| 9 | October |
| 10 | November |
| 11 | December |
And that is tuples! Really easy...

### Lists
Lists are extremely similar to tuples. Lists are modifiable (or 'mutable', as a programmer may say), so their values can be changed. Most of the time we use lists, not tuples, because we want to easily change the values of things if we need to.

Lists are defined very similarly to tuples. Say you have FIVE cats, called Tom, Snappy, Kitty, Jessie and Chester. To put them in a list, you would do this:<br>

In [ ]:
cats = ['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']

As you see, the code is exactly the same as a tuple, EXCEPT that all the values are put between square brackets, not parentheses. Again, you don't have to have spaces after the comma.

You recall values from lists exactly the same as you do with tuples. For example, to print the name of your 3rd cat you would do this:

In [ ]:
print(cats[2])

Kitty

You can also recall a range of examples, like above, for example - `cats[0:2]` would recall your 1st and 2nd cats. Try it in the field above.

Where lists come into their own is how they can be modified. To add a value to a list, you use the `append()` function. Let's say you got a new cat called Catherine. To add her to the list you'd do this:

In [ ]:
cats.append('Catherine')
cats.append('Daisy')
print(cats)

['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester', 'Catherine', 'Daisy']

In [ ]:
#Remove your 2nd cat, Snappy. Woe is you.
del cats[1]
print(cats)

['Tom', 'Kitty', 'Jessie', 'Chester', 'Catherine', 'Daisy']

# A quick interruption - For Loop

## The `for` Loop
Basically, the `for` loop does something for every value in a list. The way it is set out is a little confusing, but otherwise is very basic. Here is an example of it in code:

In [ ]:
# Example 'for' loop
# First, create a list to loop through:
newList = [45, 'eat me', 90210, "The day has come, the walrus said, \
to speak of many things", -67]

for i in range(5):
    print(cats[i])

# create the loop:
# Goes through newList, and sequentially puts each bit of information
# into the variable value, and runs the loop
for value in newList:
    print(value)

Tom
Kitty
Jessie
Chester
Catherine
45
eat me
90210
The day has come, the walrus said, to speak of many things
-67

As you see, when the loop executes, it runs through all of the values in the list mentioned after `in`. It then puts them into `value`, and executes through the loop, each time with value being worth something different. Let's see it again, in a classic cheerleading call that we all know:

In [ ]:
# cheerleading program
word = input("Who do you go for? ")

for letter in word:
    call = "Gimme a " + letter + "!"
    print(call)
    print(letter + "!")

print("What does that spell?")
print(word + "!")

print(word[2])

Who do you go for? UMFLINT
Gimme a U!
U!
Gimme a M!
M!
Gimme a F!
F!
Gimme a L!
L!
Gimme a I!
I!
Gimme a N!
N!
Gimme a T!
T!
What does that spell?
UMFLINT!
F

A couple of things you've just learnt:
* As you see, strings (remember - strings are lines of text) are just lists with lots of characters.
* The program went through each of the letters (or values) in word, and it printed them onscreen.<br>

### Dictionaries
Okay, so there is more to life than the names of your cats. You need to call your sister, mother, son, the fruit man, and anyone else who needs to know that their favourite cat is dead. For that you need a telephone book.

Now, the lists we've used above aren't really suitable for a telephone book. You need to know a number based on someone's name - not the other way around, like what we did with the cats. In the examples of months and cats, we gave the computer a number, and it gave us a name. This time we want to give the computer a name, and it gives us a number. For this we need *Dictionaries*.

So how do we make a dictionary? Put away your binding equipment, it isn't that advanced.
Remember, dictionaries have keys, and values. In a phone book, you have people's names, then their numbers. See a similarity?

When you initially create a dictionary, it is very much like making a tuple or list. Tuples have `(` and `)` things, lists have `[` and `]` things. Guess what! Dictionaries have `{` and `}` things - curly braces. Here is an example below, showing a dictionary with four phone numbers in it:

In [ ]:
#Make the phone book:
# da = {k1:v1, k2:v2, k3:v3}, da[0]-wrong, d[k1]
phonebook = {'Andrew Parson':8806336, \
'Emily Everett':6784346, 'Peter Power':7658344, \
'Lewis Lame':1122345}

print(phonebook['Lewis Lame']) #when accessing I use [ ]

phonebook['Lewis Lame'] = 8107623374


print(phonebook['Lewis Lame']) #when accessing I use [ ]

1122345
8107623374

When you run it you see that Lewis Lame's number is printed onscreen. Notice how instead of identifying the value by a number, like in the cats and months examples, we identify the value, using another value - in this case the person's name.

Ok, you've created a new phone book. Now you want to add new numbers to the book. What do you do? A very simple line of code:

In [ ]:
#Add the person 'Gingerbread Man' to the phonebook:

phonebook['Gingerbread Man'] = 1234567

# Didn't think I would give you
# my real number now, would I?

In [ ]:
#check the content
for key, value in phonebook.items():
    print(key, value)

Andrew Parson 8806336
Emily Everett 6784346
Peter Power 7658344
Lewis Lame 8107623374
Gingerbread Man 1234567

You delete entries in a dictionary just like in a list. Let's say Andrew Parson is your neighbour, and shot your cat. You never want to talk to him again, and therefore don't need his number. Just like in a list, you'd do this:

In [ ]:
del phonebook['Andrew Parson']

Remember that append function that we used with the list? Well, there are quite a few of those that can be used with dictionaries. Below, I will write you a program, and it will incorporate some of those functions in. It will have comments along the way explaining what it does. Experiment as much as you like with it.

In [ ]:
#A few examples of a dictionary

#First we define the dictionary
#it will have nothing in it this time
ages = {} #how to create an empty string

salaries = [] #this would become a list

#Add a couple of names to the dictionary
ages['Sue'] = 23
ages['Peter'] = 19
ages['Andrew'] = 78
ages['Karren'] = 45

#Use an 'if' statement to find a key in the list.
#Remember - this is how 'if' statements work -
#they run if something is true
#and they don't when something is false.
if 'Sue' in ages:
    print("Sue is in the dictionary. She is", \
ages['Sue'], "years old")

else:
    print("Sue is not in the dictionary")

#Use the function keys() -
#This function returns a list
#of all the names of the keys.
#E.g.
print("The following people are in the dictionary:")
print(ages.keys())

#You could use this function to
#put all the key names in a list:
keys = ages.keys()

#You can also get a list
#of all the values in a dictionary.
#You use the values() function:
print("People are aged the following:", \
ages.values())

#Put it in a list:
values = ages.values()

#You can sort lists, with the sorted() function
#It will sort all values in a list
#alphabetically, numerically, etc...
#You can't sort dictionaries -
#they are in no particular order
print(keys)
sortedkeys = sorted(keys)
print(sortedkeys)

print(values)
sortedvalues = sorted(values)
print(sortedvalues)

#You can find the number of entries
#with the len() function:
print("The dictionary has", \
len(ages), "entries in it")

Sue is in the dictionary. She is 23 years old
The following people are in the dictionary:
dict_keys(['Sue', 'Peter', 'Andrew', 'Karren'])
People are aged the following: dict_values([23, 19, 78, 45])
dict_keys(['Sue', 'Peter', 'Andrew', 'Karren'])
['Andrew', 'Karren', 'Peter', 'Sue']
dict_values([23, 19, 78, 45])
[19, 23, 45, 78]
The dictionary has 4 entries in it

# Modules
## Introduction
(You can also define classes in Python, but to create a moduble you don't have to have classes)

As you may know, classes are neat combinations of variables and functions in a nice, neat package. Programming lingo calls this feature encapsulation, but regardless of what it is called, it's a really cool feature for keeping things together so the code can be used in many instances in lots of places. Of course, you've got to ask, "how do I get my classes to many places, in many programs?". The answer is to put them into a module, to be imported into other programs.

## Module? What's a Module?
A module is a Python file that (generally) has only definitions of variables, functions, and classes. For example, a module might look like this, which we store in a file `moduletest.py`:
```Python
### EXAMPLE PYTHON MODULE
# Define some variables:
numberone = 1
ageofqueen = 78

# define some functions
def printhello():
    print("hello")
    
def timesfour(input):
    print(eval(input) * 4)
    
# define a class
class Piano:
    def __init__(self):
        self.type = input("What type of piano? ")
        self.height = input("What height (in feet)? ")
        self.price = input("How much did it cost? ")
        self.age = input("How old is it (in years)? ")

    def printdetails(self):
        print("This piano is a/an " + self.height + " foot", end=" ")
        print(self.type, "piano, " + self.age, "years old and costing\
         " + self.price + " dollars.")
```

As you see, a module looks pretty much like your normal Python program.

So what do we do with a module? We `import` bits of it (or all of it) into other programs.

To import all the variables, functions and classes from `moduletest.py` into another program you are writing, we use the `import` operator. For example, to import `moduletest.py` into your main program (`mainprogram.py`), you would have this:

```Python
### mainprogam.py
### IMPORTS ANOTHER MODULE
import moduletest
```

This assumes that the module is in the same directory as `mainprogram.py`, or is a default module that comes with Python. You leave out the `.py` at the end of the file name - it is ignored. You normally put all `import` statements at the beginning of the Python file, but technically they can be anywhere. In order to use the items in the module in your main program, you use the following:

```Python
### USING AN IMPORTED MODULE
# Use the form modulename.itemname
# Examples:
print(moduletest.ageofqueen)
cfcpiano = moduletest.Piano()
cfcpiano.printdetails()
```

As you see, the modules that you import act very much like the classes  - anything inside them must be preceded with `modulename.` for it to work.

## More module thingummyjigs (in lack of a better title)
Wish you could get rid of the `modulename.` part that you have to put before every item you use from a module? No? Never?

One way to avoid this hassle is to import only the wanted objects from the module. To do this, you use the `from` operator. You use it in the form of `from modulename import itemname`. Here is an example:

```Python
### IMPORT ITEMS DIRECTLY INTO YOUR PROGRAM

# import them
from moduletest import ageofqueen
from moduletest import printhello

# now try using them
print(ageofqueen)
printhello()
```

What is the point of this? Well, maybe you could use it to make your code a little more readable. If we get into heaps of modules inside modules, it could also remove that extra layer of crypticness.

If you wanted to, you could import everything from a module in this way by using `from modulename import *`. Of course, this can be troublesome if there are objects in your program with the same name as some items in the module. With large modules, this can easily happen, and can cause many a headache. A better way to do this would be to import a module in the normal way (without the `from` operator) and then assign items to a local name:

```Python
### ASSIGNING ITEMS TO A LOCAL NAME

# Assigning to a local name
timesfour = moduletest.timesfour

# Using the local name
print(timesfour(565))
```

This way, you can remove some crypticness, AND have all of the items from a certain module.

A final handy way to import modules is with an alias. Maybe you want to change a name because you've already used the same name for something else in your program, another module you imported uses the same name, or maybe you want to abbreviate a longer name that you use a lot. We can then use the `as` operator. That looks like this:

```Python
### IMPORT A MODULE WITH AN ALIAS
# import module
import moduletest as mt

# use module
print(mt.age)
cfcpiano = mt.Piano()
cfcpiano.printdetails()
```

Can you import pandas and numpy? Please consider using aliases, pd and np

In [ ]:
#please import pandas and numpy here
import pandas as pd
import numpy as np
#pd.read_csv()

#File I/O

## Opening a file
To open a text file you use, well, the `open()` function. Seems sensible. You pass certain parameters to `open()` to tell it in which way the file should be opened - `r` for read only, `w` for writing only (if there is an old file, it will be written over), `a` for appending (adding things on to the end of the file) and `r+` for both reading and writing. But less talk, let's open a file for reading (you can do this in Spyder later in the course). Open a normal text file. We will then print out what we read inside the file:
```Python
filename = 'C:\\temp\\readme.txt' # path to file.\ is an escape character, so you need 2 or use / instead.
fl = open(filename, 'r') # Open the file
for line in fl:
    print(line)
fl.close() #close the file
```

A better way to write this is:
```Python
filename = 'C:\\temp\\readme.txt'
with open(filename, 'r') as fl:
    for line in fl:
        print(line)
```

With the second method you don't have to add `fl.close`, it is automagically closed.

*Don't forget the indendation*

In [ ]:
#let's read the titanic file
filename = '/content/drive/MyDrive/DATA/titanic.csv'
with open(filename, 'r') as fl:
    for line in fl:
        print(line)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked

0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.25,,S

1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Thayer)",female,38.0,1,0,PC 17599,71.2833,C85,C

2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.925,,S

3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1,C123,S

4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.05,,S

5,6,0,3,"Moran, Mr. James",male,,0,0,330877,8.4583,,Q

6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S

7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,,S

8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,,S

9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,,C

10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7,G6,S

11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.55,C103,S

12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.05,,S

13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,,S

14,15,0,3,"Vestrom, Miss. Hulda Amanda Adolfina",female,14.0,0,0,350406,7.8542,,S

15,16,1,2,"Hewlett, Mrs. (Mary D Kingcome) ",female,55.0,0,0,248706,16.0,,S

16,17,0,3,"Rice, Master. Eugene",male,2.0,4,1,382652,29.125,,Q

17,18,1,2,"Williams, Mr. Charles Eugene",male,,0,0,244373,13.0,,S

18,19,0,3,"Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)",female,31.0,1,0,345763,18.0,,S

19,20,1,3,"Masselmani, Mrs. Fatima",female,,0,0,2649,7.225,,C

20,21,0,2,"Fynney, Mr. Joseph J",male,35.0,0,0,239865,26.0,,S

21,22,1,2,"Beesley, Mr. Lawrence",male,34.0,0,0,248698,13.0,D56,S

22,23,1,3,"McGowan, Miss. Anna ""Annie""",female,15.0,0,0,330923,8.0292,,Q

23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5,A6,S

24,25,0,3,"Palsson, Miss. Torborg Danira",female,8.0,3,1,349909,21.075,,S

25,26,1,?,"Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)",female,38.0,1,5,347077,31.3875,,S

26,27,0,3,"Emir, Mr. Farred Chehab",male,,0,0,2631,7.225,,C

27,28,0,1,"Fortune, Mr. Charles Alexander",male,19.0,3,2,19950,263.0,C23 C25 C27,S

28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,,0,0,330959,7.8792,,Q

29,30,0,3,"Todoroff, Mr. Lalio",male,,0,0,349216,7.8958,,S

30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,,C

31,32,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,,1,0,PC 17569,146.5208,B78,C

32,33,1,3,"Glynn, Miss. Mary Agatha",female,,0,0,335677,7.75,,Q

33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5,,S

34,35,0,1,"Meyer, Mr. Edgar Joseph",male,28.0,1,0,PC 17604,82.1708,,C

35,36,0,1,"Holverson, Mr. Alexander Oskar",male,42.0,1,0,113789,52.0,,S

36,37,1,3,"Mamee, Mr. Hanna",male,,0,0,2677,7.2292,,C

37,38,0,?,"Cann, Mr. Ernest Charles",male,21.0,0,0,A./5. 2152,8.05,,S

38,39,0,3,"Vander Planke, Miss. Augusta Maria",female,18.0,2,0,345764,18.0,,S

39,40,1,3,"Nicola-Yarred, Miss. Jamila",female,14.0,1,0,2651,11.2417,,C

40,41,0,3,"Ahlin, Mrs. Johan (Johanna Persdotter Larsson)",female,40.0,1,0,7546,9.475,,S

41,42,0,2,"Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)",female,27.0,1,0,11668,21.0,,S

42,43,0,3,"Kraeff, Mr. Theodor",male,,0,0,349253,7.8958,,C

43,44,1,2,"Laroche, Miss. Simonne Marie Anne Andree",female,3.0,1,2,SC/Paris 2123,41.5792,,C

44,45,1,3,"Devaney, Miss. Margaret Delia",female,19.0,0,0,330958,7.8792,,Q

45,46,0,3,"Rogers, Mr. William John",male,,0,0,S.C./A.4. 23567,8.05,,S

46,47,0,3,"Lennon, Mr. Denis",male,,1,0,370371,15.5,,Q

47,48,1,3,"O'Driscoll, Miss. Bridget",female,,0,0,14311,7.75,,Q

48,49,0,3,"Samaan, Mr. Youssef",male,,2,0,2662,21.6792,,C

49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8,,S

50,51,0,3,"Panula, Master. Juha Niilo",male,7.0,4,1,3101295,39.6875,,S

51,52,0,3,"Nosworthy, Mr. Richard Cater",male,21.0,0,0,A/4. 39886,7.8,,S

52,53,1,1,"Harper, Mrs. Henry Sleeper (Myna Haxtun)",female,49.0,1,0,PC 17572,76.7292,D33,C

53,54,1,2,"Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)",female,29.0,1,0,2926,26.0,,S

54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C

55,56,1,1,"Woolner, Mr. Hugh",male,,0,0,19947,35.5,C52,S

56,57,1,2,"Rugg, Miss. Emily",female,21.0,0,0,C.A. 31026,10.5,,S

57,58,0,3,"Novel, Mr. Mansouer",male,28.5,0,0,2697,7.2292,,C

58,59,1,2,"West, Miss. Constance Mirium",female,5.0,1,2,C.A. 34651,27.75,,S

59,60,0,3,"Goodwin, Master. William Frederick",male,11.0,5,2,CA 2144,46.9,,S

60,61,0,3,"Sirayanian, Mr. Orsen",male,22.0,0,0,2669,7.2292,,C

61,62,1,?,"Icard, Miss. Amelie",female,38.0,0,0,113572,80.0,B28,

62,63,0,1,"Harris, Mr. Henry Birkhardt",male,45.0,1,0,36973,83.475,C83,S

63,64,0,3,"Skoog, Master. Harald",male,4.0,3,2,347088,27.9,,S

64,65,0,1,"Stewart, Mr. Albert A",male,,0,0,PC 17605,27.7208,,C

65,66,1,3,"Moubarek, Master. Gerios",male,,1,1,2661,15.2458,,C

66,67,1,2,"Nye, Mrs. (Elizabeth Ramell)",female,29.0,0,0,C.A. 29395,10.5,F33,S

67,68,0,3,"Crease, Mr. Ernest James",male,19.0,0,0,S.P. 3464,8.1583,,S

68,69,1,3,"Andersson, Miss. Erna Alexandra",female,17.0,4,2,3101281,7.925,,S

69,70,0,3,"Kink, Mr. Vincenz",male,26.0,2,0,315151,8.6625,,S

70,71,0,2,"Jenkin, Mr. Stephen Curnow",male,32.0,0,0,C.A. 33111,10.5,,S

71,72,0,3,"Goodwin, Miss. Lillian Amy",female,16.0,5,2,CA 2144,46.9,,S

72,73,0,2,"Hood, Mr. Ambrose Jr",male,21.0,0,0,S.O.C. 14879,73.5,,S

73,74,0,3,"Chronopoulos, Mr. Apostolos",male,26.0,1,0,2680,14.4542,,C

74,75,1,3,"Bing, Mr. Lee",male,32.0,0,0,1601,56.4958,,S

75,76,0,3,"Moen, Mr. Sigurd Hansen",male,25.0,0,0,348123,7.65,F G73,S

76,77,0,3,"Staneff, Mr. Ivan",male,,0,0,349208,7.8958,,S

77,78,0,3,"Moutal, Mr. Rahamin Haim",male,,0,0,374746,8.05,,S

78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0,,S

79,80,1,3,"Dowdell, Miss. Elizabeth",female,30.0,0,0,364516,12.475,,S

80,81,0,?,"Waelens, Mr. Achille",male,22.0,0,0,345767,9.0,,S

81,82,1,3,"Sheerlinck, Mr. Jan Baptist",male,29.0,0,0,345779,9.5,,S

82,83,1,3,"McDermott, Miss. Brigdet Delia",female,,0,0,330932,7.7875,,Q

83,84,0,1,"Carrau, Mr. Francisco M",male,28.0,0,0,113059,47.1,,S

84,85,1,2,"Ilett, Miss. Bertha",female,17.0,0,0,SO/C 14885,10.5,,S

85,86,1,3,"Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)",female,33.0,3,0,3101278,15.85,,S

86,87,0,3,"Ford, Mr. William Neal",male,16.0,1,3,W./C. 6608,34.375,,S

87,88,0,3,"Slocovski, Mr. Selman Francis",male,,0,0,SOTON/OQ 392086,8.05,,S

88,89,1,1,"Fortune, Miss. Mabel Helen",female,23.0,3,2,19950,263.0,C23 C25 C27,S

89,90,0,3,"Celotti, Mr. Francesco",male,24.0,0,0,343275,8.05,,S

90,91,0,3,"Christmann, Mr. Emil",male,29.0,0,0,343276,8.05,,S

91,92,0,3,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,,S

92,93,0,1,"Chaffee, Mr. Herbert Fuller",male,46.0,1,0,W.E.P. 5734,61.175,E31,S

93,94,0,3,"Dean, Mr. Bertram Frank",male,26.0,1,2,C.A. 2315,20.575,,S

94,95,0,3,"Coxon, Mr. Daniel",male,59.0,0,0,364500,7.25,,S

95,96,0,3,"Shorney, Mr. Charles Joseph",male,,0,0,374910,8.05,,S

96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C

97,98,1,1,"Greenfield, Mr. William Bertram",male,23.0,0,1,PC 17759,63.3583,D10 D12,C

98,99,1,2,"Doling, Mrs. John T (Ada Julia Bone)",female,34.0,0,1,231919,23.0,,S

99,100,0,2,"Kantor, Mr. Sinai",male,34.0,1,0,244367,26.0,,S

100,101,0,3,"Petranec, Miss. Matilda",female,28.0,0,0,349245,7.8958,,S

101,102,0,3,"Petroff, Mr. Pastcho (""Pentcho"")",male,,0,0,349215,7.8958,,S

102,103,0,1,"White, Mr. Richard Frasar",male,21.0,0,1,35281,77.2875,D26,S

103,104,0,3,"Johansson, Mr. Gustaf Joel",male,33.0,0,0,7540,8.6542,,S

104,105,0,3,"Gustafsson, Mr. Anders Vilhelm",male,37.0,2,0,3101276,7.925,,S

105,106,0,3,"Mionoff, Mr. Stoytcho",male,28.0,0,0,349207,7.8958,,S

106,107,1,3,"Salkjelsvik, Miss. Anna Kristine",female,21.0,0,0,343120,7.65,,S

107,108,1,3,"Moss, Mr. Albert Johan",male,,0,0,312991,7.775,,S

108,109,0,3,"Rekic, Mr. Tido",male,38.0,0,0,349249,7.8958,,S

109,110,1,3,"Moran, Miss. Bertha",female,,1,0,371110,24.15,,Q

110,111,0,1,"Porter, Mr. Walter Chamberlain",male,47.0,0,0,110465,52.0,C110,S

111,112,0,3,"Zabour, Miss. Hileni",female,14.5,1,0,2665,14.4542,,C

112,113,0,3,"Barton, Mr. David John",male,22.0,0,0,324669,8.05,,S

113,114,0,3,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.825,,S

114,115,0,3,"Attalah, Miss. Malake",female,17.0,0,0,2627,14.4583,,C

115,116,0,3,"Pekoniemi, Mr. Edvard",male,21.0,0,0,STON/O 2. 3101294,7.925,,S

116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.75,,Q

117,118,0,2,"Turpin, Mr. William John Robert",male,29.0,1,0,11668,21.0,,S

118,119,0,1,"Baxter, Mr. Quigg Edmond",male,24.0,0,1,PC 17558,247.5208,B58 B60,C

119,120,0,?,"Andersson, Miss. Ellis Anna Maria",female,2.0,4,2,347082,31.275,,S

120,121,0,2,"Hickman, Mr. Stanley George",male,21.0,2,0,S.O.C. 14879,73.5,,S

121,122,0,3,"Moore, Mr. Leonard Charles",male,,0,0,A4. 54510,8.05,,S

122,123,0,2,"Nasser, Mr. Nicholas",male,32.5,1,0,237736,30.0708,,C

123,124,1,2,"Webber, Miss. Susan",female,32.5,0,0,27267,13.0,E101,S

124,125,0,1,"White, Mr. Percival Wayland",male,54.0,0,1,35281,77.2875,D26,S

125,126,1,3,"Nicola-Yarred, Master. Elias",male,12.0,1,0,2651,11.2417,,C

126,127,0,3,"McMahon, Mr. Martin",male,,0,0,370372,7.75,,Q

127,128,1,3,"Madsen, Mr. Fridtjof Arne",male,24.0,0,0,C 17369,7.1417,,S

128,129,1,3,"Peter, Miss. Anna",female,,1,1,2668,22.3583,F E69,C

129,130,0,3,"Ekstrom, Mr. Johan",male,45.0,0,0,347061,6.975,,S

130,131,0,3,"Drazenoic, Mr. Jozef",male,33.0,0,0,349241,7.8958,,C

131,132,0,3,"Coelho, Mr. Domingos Fernandeo",male,20.0,0,0,SOTON/O.Q. 3101307,7.05,,S

132,133,0,3,"Robins, Mrs. Alexander A (Grace Charity Laury)",female,47.0,1,0,A/5. 3337,14.5,,S

133,134,1,2,"Weisz, Mrs. Leopold (Mathilde Francoise Pede)",female,29.0,1,0,228414,26.0,,S

134,135,0,2,"Sobey, Mr. Samuel James Hayden",male,25.0,0,0,C.A. 29178,13.0,,S

135,136,0,2,"Richard, Mr. Emile",male,23.0,0,0,SC/PARIS 2133,15.0458,,C

136,137,1,1,"Newsom, Miss. Helen Monypeny",female,19.0,0,2,11752,26.2833,D47,S

137,138,0,1,"Futrelle, Mr. Jacques Heath",male,37.0,1,0,113803,53.1,C123,S

138,139,0,3,"Osen, Mr. Olaf Elon",male,16.0,0,0,7534,9.2167,,S

139,140,0,1,"Giglio, Mr. Victor",male,24.0,0,0,PC 17593,79.2,B86,C

140,141,0,3,"Boulos, Mrs. Joseph (Sultana)",female,,0,2,2678,15.2458,,C

141,142,1,3,"Nysten, Miss. Anna Sofia",female,22.0,0,0,347081,7.75,,S

142,143,1,3,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda Dolck)",female,24.0,1,0,STON/O2. 3101279,15.85,,S

143,144,0,3,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.75,,Q

144,145,0,2,"Andrew, Mr. Edgardo Samuel",male,18.0,0,0,231945,11.5,,S

145,146,0,2,"Nicholls, Mr. Joseph Charles",male,19.0,1,1,C.A. 33112,36.75,,S

146,147,1,?,"Andersson, Mr. August Edvard (""Wennerstrom"")",male,27.0,0,0,350043,7.7958,,S

147,148,0,3,"Ford, Miss. Robina Maggie ""Ruby""",female,9.0,2,2,W./C. 6608,34.375,,S

148,149,0,2,"Navratil, Mr. Michel (""Louis M Hoffman"")",male,36.5,0,2,230080,26.0,F2,S

149,150,0,2,"Byles, Rev. Thomas Roussel Davids",male,42.0,0,0,244310,13.0,,S

150,151,0,2,"Bateman, Rev. Robert James",male,51.0,0,0,S.O.P. 1166,12.525,,S

151,152,1,1,"Pears, Mrs. Thomas (Edith Wearne)",female,22.0,1,0,113776,66.6,C2,S

152,153,0,3,"Meo, Mr. Alfonzo",male,55.5,0,0,A.5. 11206,8.05,,S

153,154,0,3,"van Billiard, Mr. Austin Blyler",male,40.5,0,2,A/5. 851,14.5,,S

154,155,0,3,"Olsen, Mr. Ole Martin",male,,0,0,Fa 265302,7.3125,,S

155,156,0,1,"Williams, Mr. Charles Duane",male,51.0,0,1,PC 17597,61.3792,,C

156,157,1,3,"Gilnagh, Miss. Katherine ""Katie""",female,16.0,0,0,35851,7.7333,,Q

157,158,0,3,"Corn, Mr. Harry",male,30.0,0,0,SOTON/OQ 392090,8.05,,S

158,159,0,3,"Smiljanic, Mr. Mile",male,,0,0,315037,8.6625,,S

159,160,0,3,"Sage, Master. Thomas Henry",male,,8,2,CA. 2343,69.55,,S

160,161,0,3,"Cribb, Mr. John Hatfield",male,44.0,0,1,371362,16.1,,S

161,162,1,2,"Watt, Mrs. James (Elizabeth ""Bessie"" Inglis Milne)",female,40.0,0,0,C.A. 33595,15.75,,S

162,163,0,3,"Bengtsson, Mr. John Viktor",male,26.0,0,0,347068,7.775,,S

163,164,0,3,"Calic, Mr. Jovo",male,17.0,0,0,315093,8.6625,,S

164,165,0,3,"Panula, Master. Eino Viljami",male,1.0,4,1,3101295,39.6875,,S

165,166,1,3,"Goldsmith, Master. Frank John William ""Frankie""",male,9.0,0,2,363291,20.525,,S

166,167,1,1,"Chibnall, Mrs. (Edith Martha Bowerman)",female,,0,1,113505,55.0,E33,S

167,168,0,3,"Skoog, Mrs. William (Anna Bernhardina Karlsson)",female,45.0,1,4,347088,27.9,,S

168,169,0,1,"Baumann, Mr. John D",male,,0,0,PC 17318,25.925,,S

169,170,0,3,"Ling, Mr. Lee",male,28.0,0,0,1601,56.4958,,S

170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5,B19,S

171,172,0,3,"Rice, Master. Arthur",male,4.0,4,1,382652,29.125,,Q

172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.0,1,1,347742,11.1333,,S

173,174,0,3,"Sivola, Mr. Antti Wilhelm",male,21.0,0,0,STON/O 2. 3101280,7.925,,S

174,175,0,1,"Smith, Mr. James Clinch",male,56.0,0,0,17764,30.6958,A7,C

175,176,0,3,"Klasen, Mr. Klas Albin",male,18.0,1,1,350404,7.8542,,S

176,177,0,3,"Lefebre, Master. Henry Forbes",male,,3,1,4133,25.4667,,S

177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C

178,179,0,2,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.0,,S

179,180,0,3,"Leonard, Mr. Lionel",male,36.0,0,0,LINE,0.0,,S

180,181,0,?,"Sage, Miss. Constance Gladys",female,,8,2,CA. 2343,69.55,,S

181,182,0,2,"Pernot, Mr. Rene",male,,0,0,SC/PARIS 2131,15.05,,C

182,183,0,3,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4,2,347077,31.3875,,S

183,184,1,2,"Becker, Master. Richard F",male,1.0,2,1,230136,39.0,F4,S

184,185,1,3,"Kink-Heilmann, Miss. Luise Gretchen",female,4.0,0,2,315153,22.025,,S

185,186,0,1,"Rood, Mr. Hugh Roscoe",male,,0,0,113767,50.0,A32,S

186,187,1,3,"O'Brien, Mrs. Thomas (Johanna ""Hannah"" Godfrey)",female,,1,0,370365,15.5,,Q

187,188,1,1,"Romaine, Mr. Charles Hallace (""Mr C Rolmane"")",male,45.0,0,0,111428,26.55,,S

188,189,0,3,"Bourke, Mr. John",male,40.0,1,1,364849,15.5,,Q

189,190,0,3,"Turcin, Mr. Stjepan",male,36.0,0,0,349247,7.8958,,S

190,191,1,2,"Pinsky, Mrs. (Rosa)",female,32.0,0,0,234604,13.0,,S

191,192,0,2,"Carbines, Mr. William",male,19.0,0,0,28424,13.0,,S

192,193,1,3,"Andersen-Jensen, Miss. Carla Christine Nielsine",female,19.0,1,0,350046,7.8542,,S

193,194,1,2,"Navratil, Master. Michel M",male,3.0,1,1,230080,26.0,F2,S

194,195,1,1,"Brown, Mrs. James Joseph (Margaret Tobin)",female,44.0,0,0,PC 17610,27.7208,B4,C

195,196,1,1,"Lurette, Miss. Elise",female,58.0,0,0,PC 17569,146.5208,B80,C

196,197,0,3,"Mernagh, Mr. Robert",male,,0,0,368703,7.75,,Q

197,198,0,3,"Olsen, Mr. Karl Siegwart Andreas",male,42.0,0,1,4579,8.4042,,S

198,199,1,3,"Madigan, Miss. Margaret ""Maggie""",female,,0,0,370370,7.75,,Q

199,200,0,2,"Yrois, Miss. Henriette (""Mrs Harbeck"")",female,24.0,0,0,248747,13.0,,S

200,201,0,3,"Vande Walle, Mr. Nestor Cyriel",male,28.0,0,0,345770,9.5,,S

201,202,0,3,"Sage, Mr. Frederick",male,,8,2,CA. 2343,69.55,,S

202,203,0,3,"Johanson, Mr. Jakob Alfred",male,34.0,0,0,3101264,6.4958,,S

203,204,0,3,"Youseff, Mr. Gerious",male,45.5,0,0,2628,7.225,,C

204,205,1,3,"Cohen, Mr. Gurshon ""Gus""",male,18.0,0,0,A/5 3540,8.05,,S

205,206,0,3,"Strom, Miss. Telma Matilda",female,2.0,0,1,347054,10.4625,G6,S

206,207,0,3,"Backstrom, Mr. Karl Alfred",male,32.0,1,0,3101278,15.85,,S

207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,,C

208,209,1,3,"Carr, Miss. Helen ""Ellen""",female,16.0,0,0,367231,7.75,,Q

209,210,1,1,"Blank, Mr. Henry",male,40.0,0,0,112277,31.0,A31,C

210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.05,,S

211,212,1,2,"Cameron, Miss. Clear Annie",female,35.0,0,0,F.C.C. 13528,21.0,,S

212,213,0,3,"Perkin, Mr. John Henry",male,22.0,0,0,A/5 21174,7.25,,S

213,214,0,2,"Givard, Mr. Hans Kristensen",male,30.0,0,0,250646,13.0,,S

214,215,0,3,"Kiernan, Mr. Philip",male,,1,0,367229,7.75,,Q

215,216,1,1,"Newell, Miss. Madeleine",female,31.0,1,0,35273,113.275,D36,C

216,217,1,3,"Honkanen, Miss. Eliina",female,27.0,0,0,STON/O2. 3101283,7.925,,S

217,218,0,2,"Jacobsohn, Mr. Sidney Samuel",male,42.0,1,0,243847,27.0,,S

218,219,1,1,"Bazzani, Miss. Albina",female,32.0,0,0,11813,76.2917,D15,C

219,220,0,2,"Harris, Mr. Walter",male,30.0,0,0,W/C 14208,10.5,,S

220,221,1,3,"Sunderland, Mr. Victor Francis",male,16.0,0,0,SOTON/OQ 392089,8.05,,S

221,222,0,?,"Bracken, Mr. James H",male,27.0,0,0,220367,13.0,,S

222,223,0,3,"Green, Mr. George Henry",male,51.0,0,0,21440,8.05,,S

223,224,0,3,"Nenkoff, Mr. Christo",male,,0,0,349234,7.8958,,S

224,225,1,1,"Hoyt, Mr. Frederick Maxfield",male,38.0,1,0,19943,90.0,C93,S

225,226,0,3,"Berglund, Mr. Karl Ivar Sven",male,22.0,0,0,PP 4348,9.35,,S

226,227,1,2,"Mellors, Mr. William John",male,19.0,0,0,SW/PP 751,10.5,,S

227,228,0,3,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.25,,S

228,229,0,2,"Fahlstrom, Mr. Arne Jonas",male,18.0,0,0,236171,13.0,,S

229,230,0,3,"Lefebre, Miss. Mathilde",female,,3,1,4133,25.4667,,S

230,231,1,1,"Harris, Mrs. Henry Birkhardt (Irene Wallach)",female,35.0,1,0,36973,83.475,C83,S

231,232,0,3,"Larsson, Mr. Bengt Edvin",male,29.0,0,0,347067,7.775,,S

232,233,0,2,"Sjostedt, Mr. Ernst Adolf",male,59.0,0,0,237442,13.5,,S

233,234,1,3,"Asplund, Miss. Lillian Gertrud",female,5.0,4,2,347077,31.3875,,S

234,235,0,2,"Leyson, Mr. Robert William Norman",male,24.0,0,0,C.A. 29566,10.5,,S

235,236,0,3,"Harknett, Miss. Alice Phoebe",female,,0,0,W./C. 6609,7.55,,S

236,237,0,2,"Hold, Mr. Stephen",male,44.0,1,0,26707,26.0,,S

237,238,1,2,"Collyer, Miss. Marjorie ""Lottie""",female,8.0,0,2,C.A. 31921,26.25,,S

238,239,0,2,"Pengelly, Mr. Frederick William",male,19.0,0,0,28665,10.5,,S

239,240,0,2,"Hunt, Mr. George Henry",male,33.0,0,0,SCO/W 1585,12.275,,S

240,241,0,3,"Zabour, Miss. Thamine",female,,1,0,2665,14.4542,,C

241,242,1,3,"Murphy, Miss. Katherine ""Kate""",female,,1,0,367230,15.5,,Q

242,243,0,2,"Coleridge, Mr. Reginald Charles",male,29.0,0,0,W./C. 14263,10.5,,S

243,244,0,3,"Maenpaa, Mr. Matti Alexanteri",male,22.0,0,0,STON/O 2. 3101275,7.125,,S

244,245,0,3,"Attalah, Mr. Sleiman",male,30.0,0,0,2694,7.225,,C

245,246,0,1,"Minahan, Dr. William Edward",male,44.0,2,0,19928,90.0,C78,Q

246,247,0,3,"Lindahl, Miss. Agda Thorilda Viktoria",female,25.0,0,0,347071,7.775,,S

247,248,1,2,"Hamalainen, Mrs. William (Anna)",female,24.0,0,2,250649,14.5,,S

248,249,1,1,"Beckwith, Mr. Richard Leonard",male,37.0,1,1,11751,52.5542,D35,S

249,250,0,2,"Carter, Rev. Ernest Courtenay",male,54.0,1,0,244252,26.0,,S

250,251,0,3,"Reed, Mr. James George",male,,0,0,362316,7.25,,S

251,252,0,3,"Strom, Mrs. Wilhelm (Elna Matilda Persson)",female,29.0,1,1,347054,10.4625,G6,S

252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.55,C87,S

253,254,0,3,"Lobb, Mr. William Arthur",male,30.0,1,0,A/5. 3336,16.1,,S

254,255,0,3,"Rosblom, Mrs. Viktor (Helena Wilhelmina)",female,41.0,0,2,370129,20.2125,,S

255,256,1,3,"Touma, Mrs. Darwis (Hanne Youssef Razi)",female,29.0,0,2,2650,15.2458,,C

256,257,1,1,"Thorne, Mrs. Gertrude Maybelle",female,,0,0,PC 17585,79.2,,C

257,258,1,1,"Cherry, Miss. Gladys",female,30.0,0,0,110152,86.5,B77,S

258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,,C

259,260,1,2,"Parrish, Mrs. (Lutie Davis)",female,50.0,0,1,230433,26.0,,S

260,261,0,3,"Smith, Mr. Thomas",male,,0,0,384461,7.75,,Q

261,262,1,3,"Asplund, Master. Edvin Rojj Felix",male,3.0,4,2,347077,31.3875,,S

262,263,0,1,"Taussig, Mr. Emil",male,52.0,1,1,110413,79.65,E67,S

263,264,0,1,"Harrison, Mr. William",male,40.0,0,0,112059,0.0,B94,S

264,265,0,3,"Henry, Miss. Delia",female,,0,0,382649,7.75,,Q

265,266,0,2,"Reeves, Mr. David",male,36.0,0,0,C.A. 17248,10.5,,S

266,267,0,3,"Panula, Mr. Ernesti Arvid",male,16.0,4,1,3101295,39.6875,,S

267,268,1,3,"Persson, Mr. Ernst Ulrik",male,25.0,1,0,347083,7.775,,S

268,269,1,1,"Graham, Mrs. William Thompson (Edith Junkins)",female,58.0,0,1,PC 17582,153.4625,C125,S


## Seek and You Shall Find
If you want to print the whole file, instead of looping over the lines you can use this:
```Python

filename = 'C:\\temp\\readme.txt'
fl = open(filename, 'r')
print(fl.read())
```

Did you try to run `print(fl.read())` a second time? Did it fail? It likely did, and reason is because the 'cursor' has changed it's place. Cursor? What cursor? Well, a cursor that you really cannot see, but still a cursor. This invisible cursor tells the read function (and many other I/O functions) where to start from. To set where the cursor is, you use the `seek()` function. It is used in the form `seek(offset, whence)`.

`whence` is optional, and determines where to seek from. If `whence` is 0, the bytes/letters are counted from the beginning. If it is 1, the bytes are counted from the current cursor position. If it is 2, then the bytes are counted from the end of the file. If nothing is put there, 0 is assumed.

`offset` decribes how far from `whence` that the cursor moves. for example:
* `fl.seek(45,0)` would move the cursor to 45 bytes/letters after the beginning of the file.
* `fl.seek(10,1)` would move the cursor to 10 bytes/letters after the current cursor position.
* `fl.seek(-77,2)` would move the cursor to 77 bytes/letters before the end of the file (notice the - before the 77)

We can use `fl.seek()` to go to any spot in the file and then try typing `print(fl.read())`. It will print from the spot you seeked to. But realise that `fl.read()` moves the cursor to the end of the file - you will have to seek again.

##Other I/O Functions
There are many other functions that help you with dealing with files. They have many uses that empower you to do more, and make the things you can do easier. Let's have a look at `tell()`, `readline()`, `readlines()`, `write()` and `close()`.

`tell()` returns where the cursor is in the file. It has no parameters, just type it in (like what the example below will show). This is infinitely useful, for knowing what you are referring to, where it is, and simple control of the cursor. To use it, type `fileobjectname.tell()` - where fileobjectname is the name of the file object you created when you opened the file (in `openfile = open('pathtofile', 'r')` the file object name is `openfile`).

`readline()` reads from where the cursor is till the end of the line. Remember that the end of the line isn't the edge of your screen - the line ends when you press enter to create a new line. This is useful for things like reading a log of events, or going through something progressively to process it. There are no parameters you have to pass to `readline()`, though you can optionally tell it the maximum number of bytes/letters to read by putting a number in the brackets. Use it with `fileobjectname.readline()`.<br>

`readlines()` is much like `readline()`, however `readlines()` reads all the lines from the cursor onwards, and returns a list, with each list element holding a line of code. Use it with `fileobjectname.readlines()`. For example, if you had the text file:
```
Line 1

Line 3
Line 4

Line 6
```
then the returned list from `readlines()` would be:<br>

| Index | Value |
| :--: | :--: |
| 0 | 'Line 1' |
| 1 | " |
| 2 | 'Line 3' |
| 3 | 'Line 4' |
| 4 | " |
| 5 | 'Line 6' |

The `write()` function, writes to the file. How did you guess??? It writes from where the cursor is, and overwrites text in front of it - like in MS Word, where you press 'insert' and it writes over the top of old text. To utilise this most purposeful function, put a string between the brackets to write e.g. `fileobjectname.write('this is a string')`.

`close`, you may figure, closes the file so that you can no longer read or write to it until you reopen in again. Simple enough. To use, you would write `fileobjectname.close()`. Simple!

Later in the course you can try this in the Python command line. Open up a test file (or create a new one...) and play around with these functions. You can do some simple (and very inconvenient) text editing.

## Mmm, Pickles
Pickles, in Python, are to be eaten. Their flavour is just too good to let programmers leave them in the fridge.

Ok, just joking there. Pickles, in Python, are objects saved to a file. An object in this case could be a variable, instance of a class, or a list, dictionary, or tuple. Other things can also be pickled, but with limits. The object can then be restored, or unpickled, later on. In other words, you are 'saving' your objects.

So how do we pickle? With the `dump()` function, which is inside the pickle module - so at the beginning of your program you will have to write `import pickle`. Simple enough? Then open an empty file, and use `pickle.dump()` to drop the object into that file. Let's try that:

```Python
### pickletest.py
### PICKLE AN OBJECT

# import the pickle module
import pickle

# lets create something to be pickled
# How about a list?
picklelist = ['one',2,'three','four',5,'can you count?']

# now create a file
# replace filename with the file you want to create
# wb means that it's written in a binary file
file = open('filename', 'wb')

# now let's pickle picklelist
pickle.dump(picklelist,file)

# close the file, and your pickling is complete
file.close()
```

The code to do this is laid out like `pickle.dump(object_to_pickle, file_object)` where:
* `object_to_pickle` is the object you want to pickle (i.e. save it to file)
* `file_object` is the file object you want to write to (in this case, the file object is `file`)

Now to re-open, or unpickle, your file we would use `pickle.load()`:<br>
```Python
### unpickletest.py
### unpickle file

# import the pickle module
import pickle

# now open a file for reading
# replace filename with the path to the file you created in pickletest.py
unpicklefile = open('filename', 'rb')

# now load the list that we pickled into a new object
unpickledlist = pickle.load(unpicklefile)

# close the file, just for safety
unpicklefile.close()

# Try out using the list
for item in unpickledlist:
    print(item)
```
Nifty, eh?<br>

Of course, the limitation above is that we can only put in one object to a file. We could get around this by putting lots of picklable objects in a list or dictionary, and then pickling that list or dictionary. This is the quickest and easiest way, but you can do some pretty advanced stuff if you have advanced knowledge of pickle.<br>
    
Which we won't cover.

##Exercise
Please read the first 1000 lines from the lego_setsHB.csv in the [DATA folder](https://drive.google.com/drive/folders/1ehWwunuAo7CE1Vk2JYkUnQMmxh5pph3C) and split each line by using comma.

As you do go through each line populate two dictinaries, Price and Difficulty, which uses product id as the key and price and review diffulty as your values.

You may have to make a copy of the DATA folder to your own drive to be able to read from there.

Feel free to modify the following cell

In [ ]:
filename = '/content/drive/MyDrive/DATA/lego_setsHB.csv'

#filename = '/content/drive/MyDrive/DATA/titanic.csv'
price = {}
difficulty = {}

with open(filename, 'r') as fl:
    next(fl) #will help you skip the first line in which we have the headers
    for line in fl:
        print(line)

for key, value in price.items():
    print(key, value, difficulty[key])